<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>KonicaMinolta Hackathon</title>

	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/common.css">
	<link rel="stylesheet" href="/stylesheets/index.css">


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/sha/sha256.js"></script>
    <script type="text/javascript" src="/javascripts/login.js"></script>
	
</head>
<body>
	<h1 id="text">Hello World</h1>
	<h2><%= Hello %></h2>

        
    <form id="Login">
        User ID:<input id="userid" type="text" name="userID" value=""><br>
        Pass Word:<input id="password" type="password" name="password" value=""><br>
        <input id="login" type="button" value="Sign In" > 
	</form>
	
	<input id="signup" type="button" value="Sign Up" > 
	
	
</body>
</html>	
	                                                                                                                  
