<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>KonicaMinolta Hackathon</title>

	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/common.css">
	<link rel="stylesheet" href="/stylesheets/index.css">


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/sha/sha256.js"></script>
    <script type="text/javascript" src="/javascripts/login.js"></script>
	
</head>
<body>
	<h1 id="text">Main</h1>
	
	
	
</body>
</html>	
	                                                                                                                  
