<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="/stylesheets/style.css" />

    <!--スクリプト読み込み-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/sha/sha256.js"></script>
    <script type="text/javascript" src="/javascripts/registration.js"></script>
    <title>test title</title>
</head>
    <body>
        <h1 id="text">Please Sign UP</h1>
        <h1 ><%= Hello %></h1>
        
        <form id="Login">
            User Name:<input id="username" type="text" name="userID" value=""><br>
            User ID:<input id="userid" type="text" name="userID" value=""><br>
            Pass Word:<input id="password" type="password" name="password" value=""><br>
            <input id="send" type="button" value="Sign Up" > 
        </form>
    </body>
</html>